*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    background-color: #330f6e;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
header img{
    width: 220px;
    height: auto;
}
section{
    padding-top:80px;
    padding-bottom: 80px;

}
#whitebox{
    background: white;
    width:50%;
    padding:20px 30px;
    margin-top: 30px;
}


